@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

*{
    box-sizing: border-box;    
}

body{
    background-color: #E5E5E5;
}

.title_desktop {
    margin-top: 40px;
    display: flex;
    align-items:space-between;
    justify-content: center;
    margin-top: 20px;
    color: #75B79E;
    font-family: 'Roboto';
    font-size: 56px;
    font-weight: 700;
}

.title_mobile {
    margin-top: 40px;
    display: none;
    text-align: center;
    margin: 20px auto;
    width: 55%;
    color: #75B79E;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700px;
}

.table_desktop{
    margin-top: 50px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    width: 90vw;
    height: fit-content;
    transition: all .5s;
}

.card{
    display: flex;
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 1s;
    justify-content: center;
    align-items: center;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.turned{
    transform: rotateY(180deg);
}

.card_front{
    display: flex;
    backface-visibility: hidden;
    position: absolute;
}
.card_front img{
    width: 100%;
    align-self: center;
    justify-self: center;
}

.card_back{
    display: flex;
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
}

.card_back img{
    width: 100%;
    align-self: center;
    justify-self: center ;
}


.front_image    {
    content: url(/assets/front.png);
}

.card_back{
    height: 70%;
}

.ross{
    content: url(/assets/bobrossparrot.gif);
}

.explody{
    content: url(/assets/explodyparrot.gif);
}

.fiesta{
    content: url(/assets/fiestaparrot.gif);
}

.metal{
    content: url(/assets/metalparrot.gif);
}

.triplets{
    content: url(/assets/tripletsparrot.gif);
}

.unicorn{
    content: url(/assets/unicornparrot.gif);
}

.revertit{
    content: url(/assets/revertitparrot.gif);
}

.hidden{
    display: none;
}





@media (max-width:614px){
    .title_desktop{
        display: none;
    }
    .title_mobile{
        display: flex;
    }
    .table_desktop{
        flex-direction: column;
    }
}
